.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .side-bar__user-name__top-items__name
        name
      .side-bar__user-name__top-items__icon
        %a{ href: '#', class:"side-bar__user-name__top-items__icon__body"}
          = icon('fas', 'edit')
        %a{ href: '#', class:"side-bar__user-name__top-items__icon__body"}
          = icon('fas', 'cog')
  .side-bar__group_list
    .side-bar__group_list__group-name
      techcamp
    .side-bar__group_list__messages
      まだメッセージはありません。