* {
  box-sizing: border-box;
}

.Wrapper {
  display: flex;
}

.side-bar{
  height: 100vh;
  width: 300px;
  background-color: #253141;

  &__user-name{
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: #ffffff;

    &__top-items{
      height: 20px;
      width: 300px;
      display: flex;
      justify-content: space-between;
      
      &__icon {
        width: 60px;
        text-align: right;
        margin-left: 5px;

      }
    }
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
  }

  &__group_list {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 20px 20px 0 20px;
    font-size: 11px;
    color: #ffffff;
    font-weight: bold;
 
    .Group__name {
      font-size: 15px;
      margin-bottom: 5px;
    }
  }
}

.chat-main {
  height: 100vh;
  width: calc(100vw - 300px);
  background-color: #ffffff;

  &__group-info {
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    &__group-name {
      font-size: 20px;
      color: #333333;
      margin-top: 35px;

      &__menber-name {
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
      }
    }
    &__edit {
      padding: 0 20px;
      color: #38aef0;
      border: solid 1px;
      margin: 28px 0;
      display: flex;
      align-items: center;
      
      .edit__btn{
        text-decoration: none;
        color: #38aef0;
      }
    }
  }

  &__message-list {
    height: calc(100vh - 190px);
    overflow: scroll;
    background-color: #fafafa;
    padding: 35px 40px 35px 40px;

    &__user-name {
      font-weight: bold;
      color: #333333;
      font-size: 16px;
      display: flex;
      padding-bottom: 12px;

      &__posted-time {
        color: #999999;
        font-weight: normal;
        font-size: 12px;
        padding-left: 5px;
      }
    }

    &__comments{
      color: #434a54;
      font-size: 14px;
      margin-bottom: 46px;
    }
  }
  
  &__massage-form {
    height: 90px;
    background-color: #d2d2d2;
    display: flex;
    align-items: center;
    padding: 0 40px;

    .new_message {
      display: flex;
      width: 100%;

      .input-box{
        width: 100%;
        position: relative;

        &__text{
          height: 50px;
          width: 100%;
          color: #434a54;
          border-style: none;
          padding: 0 40px 0 10px;
        }

        &__image {
          position: absolute;
          top: 10px;
          right: 10px;
          cursor: pointer;
          font-size: 1.3rem;

          &__file {
            display: none;
          }
        }
      }

      .submit-btn {
        height: 50px;
        margin-left: 15px;
        padding: 0 30px;
        color: #fff;
        font-size: 16px;
        background-color: #38aef0;
        border-style: none;
      }
    }
  }
}
